@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2"),
    url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-ThinItalic.woff2") format("woff2"),
    url("../fonts/Lato-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
    url("../fonts/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-Hairline.woff2") format("woff2"),
    url("../fonts/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"),
    url("../fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-HairlineItalic.woff2") format("woff2"),
    url("../fonts/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Heavy.woff2") format("woff2"),
    url("../fonts/Lato-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-HeavyItalic.woff2") format("woff2"),
    url("../fonts/Lato-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff2") format("woff2"),
    url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.woff2") format("woff2"),
    url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-LightItalic.woff2") format("woff2"),
    url("../fonts/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff2") format("woff2"),
    url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-MediumItalic.woff2") format("woff2"),
    url("../fonts/Lato-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff2") format("woff2"),
    url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Thin.woff2") format("woff2"),
    url("../fonts/Lato-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/Lato-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Heavy.woff2") format("woff2"),
    url("../fonts/Lato-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: #1f1e1f;
  --color-blue: #c29e4e;
  --color-blue: #0b0d61;
  --color-dark-blue: #161d85;
  --text-color-blue: #182293;
  --text-color: #545454;
  --border-color: #e8e8e8;
  --color-light-red: #c68585;
  --color-grey: #444444;
  --color-dark-grey: #e6e6e6;
  --color-bg: #fbfbfb;
}

//responsive breakpoints
$sm-breakpoint: 600px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 991px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large

ul {
  margin-bottom: 0rem;
  padding-left: 0rem;

  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  transition: 0.3s all;
  border-bottom: 1px solid #f1e8b2;
  &.header_scroll {
    background-color: #fffffff6;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .logo {
    img {
      max-width: 18rem;
      @media screen and (max-width: $xl-breakpoint) {
        max-width: 15rem;
      }
      @media screen and (max-width:$sm-breakpoint) {
        max-width: 12rem;
      }
    }
  }

  .language {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: #f1e8b2;
      left: 0;
      height: 100%;
      width: 2px;
      top: 0;
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #f1e8b2;
      right: 0;
      height: 100%;
      width: 2px;
      top: 0;
    }
    .btn {
      background: #cdb066;
      background: linear-gradient(to right, #d3ba74 0%, #f1e8b1 32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
      border: none;
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 1550px) {
    padding-left: 4rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
  @media screen and (max-width: 1366px) {
    padding-left: 3rem;
  }
  @media screen and (max-width: $xl-breakpoint) {
    padding-left: 2rem;
  }
  @media screen and (max-width:$lg-breakpoint) {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
.menu-area {
  position: fixed;
  background: url(../img/menu-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  min-height: 100vh;
  width: 100%;
  padding-left: 8rem;
  padding-top: 6rem;
  padding-right: 5rem;
  display: none;
  @media screen and (max-width:1550px) {
    padding-left: 4rem;
    padding-top: 4rem;
    padding-right: 2rem;
  }
  @media screen and (max-width:$xl-breakpoint) {
    padding-left: 2rem;
    padding-top: 3rem;
    padding-right: 3rem;
  }
  @media screen and (max-width:$lg-breakpoint) {
    padding-right: 2rem;
    overflow: scroll;
    padding-bottom: 2rem;
  }
  @media screen and (max-width:$sm-breakpoint) {
    padding-left: 1rem;
  }
  /* display: none; */
  /*  &:before{
    content: "";
    background-color: #ffffffcc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
  } */
  .mobile{
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .language {
    margin: 0rem 4rem;
    border-left: 2px solid #f1e8b2;
    border-right: 2px solid #f1e8b2;
    @media screen and (max-width:$xl-breakpoint) {
      margin: 0rem 2rem;
    }
    .btn {
      background: #cdb066;
      background: linear-gradient(to right, #d4bb76 0%, #f1e8b1 32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
      font-size: 1.6rem;
      padding: 0;
      border: none;
      padding: 1rem 2rem;
      @media screen and (max-width:$xl-breakpoint) {
        padding: 1rem 1.5rem;
      }
      @media screen and (max-width:$lg-breakpoint) {
        font-size: 1.4rem;
        padding: 0.7rem 1.2rem;
      }
    }
  }
  .top {
    img{
      max-width: 25rem;
      @media screen and (max-width:1550px) {
        max-width: 20rem;
      }
      @media screen and (max-width:$lg-breakpoint) {
        max-width: 15rem;
      }
      @media screen and (max-width:$sm-breakpoint) {
        max-width: 13rem;
      }
    }
    
  }
  .menu-close-toggle{
    img{
      @media screen and (max-width:$lg-breakpoint) {
        max-width: 3rem;
      }
    }
  }
  .bottom {
    .right-area{
      @media screen and (max-width:$lg-breakpoint) {
        justify-content: flex-start !important;
        padding-left: 1.7rem;
        margin-top: 2rem;
      }

    }
    .menu-navigation {
      padding-left: 7rem;
      @media screen and (max-width:1550px) {
        padding-left: 5rem;
      }
      @media screen and (max-width:$lg-breakpoint) {
        padding-left: 1rem;
      }
      
      ul {
        margin-top: 3rem;
        li {
          margin-top: 1rem;
          a {
            font-size: 3rem;
            font-style: italic;
            color: var(--text-color-blue);
            font-weight: 700;
            display: inline-block;
            @media screen and (max-width:1550px) {
              font-size: 2.5rem;
            }
            @media screen and (max-width:$xl-breakpoint) {
              font-size: 2rem;
            }
            @media screen and (max-width:$lg-breakpoint) {
              font-size: 1.6rem;
            }
            @media screen and (max-width:$sm-breakpoint) {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
    .contact-area {
      margin-bottom: -3rem;
      h5 {
        margin-bottom: 2rem;
        font-style: italic;
        color: var(--text-color-blue);
        font-weight: 700;
        font-size: 1.5rem;
        @media screen and (max-width:$sm-breakpoint) {
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }
      }
      p {
        max-width: 22rem;
        font-style: italic;
        font-size: 1.1rem;
        @media screen and (max-width:$sm-breakpoint) {
          font-size: 1rem;
        }
      }
      .social-media {
        margin-top: 2rem;
        @media screen and (max-width:$sm-breakpoint) {
          margin-top: 1rem;
        }
        ul {
          li {
            margin-right: 1rem;
            a {
              color: var(--text-color-blue);
              font-size: 2rem;
              transition: 0.3s all;
              &:hover {
                color: var(--color-grey);
              }

              @media screen and(max-width:1440px) {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}

.banner {
  .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 12rem;
    background: #fff;
    @media screen and (max-width:$lg-breakpoint) {
      padding-bottom: 0rem;
    }
    .swiper-slide {
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      min-height: 100vh;
      width: 100%;
      @media screen and (max-width:$lg-breakpoint) {
        align-items: center;
        min-height: 64vh;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .content {
        margin-bottom: -10rem;
        padding-left: 10rem;
        @media screen and (max-width: 1550px) {
          padding-left: 6rem;
        }
        @media screen and (max-width: 1366px) {
          padding-left: 4rem;
        }
        @media screen and (max-width:$lg-breakpoint) {
          margin-bottom: 0rem;
          padding-left: 2rem;
          padding-right: 4rem;
          margin-top: 8rem;
        }


        .box {
          height: 18rem;
          background-color: var(--color-blue);
          padding: 3rem 4rem 2rem 4rem;
          @media screen and (max-width: $xl-breakpoint) {
            padding: 3rem 4rem 2rem 2rem;
            height: 16rem;
          }
          @media screen and (max-width:$lg-breakpoint) {
            height: 14rem;
            max-width: 28rem;
            opacity: 0.7;
            margin-bottom: 2rem;
          }
          h1 {
            max-width: 20rem;
            color: var(--color-white);
            font-style: italic;
            font-weight: bold;
            font-size: 3.5rem;
            margin-bottom: 2.5rem;
            @media screen and (max-width: 1550px) {
              font-size: 2.8rem;
            }
            @media screen and (max-width: 1440px) {
              font-size: 2.5rem;
            }
            @media screen and (max-width: $xl-breakpoint) {
              font-size: 2rem;
            }
            @media screen and (max-width:$sm-breakpoint) {
              font-size: 1.8rem;
            }
           
          }
          .btn {
            color: var(--color-white);
            padding-left: 0rem;
            font-size: 0.7rem;
            font-weight: 300;
            border: none;
            &:focus {
              outline: none;
              box-shadow: none;
            }
            i {
              margin-left: 0.6rem;
            }
          }
        }
        .text {
          margin-bottom: 3.5rem;
          height: 4rem;
          background-color: var(--color-white);
          @media screen and (max-width:$lg-breakpoint) {
            background-color: transparent;
          }
          p {
            max-width: 41rem;
            font-size: 1.2rem;
            color: var(--color-grey);
            font-weight: 400;
            @media screen and (max-width: 1550px) {
              font-size: 1.1rem;
              max-width: 38rem;
            }
            @media screen and (max-width: $xl-breakpoint) {
              font-size: 1rem;
              max-width: 29rem;
            }
            @media screen and (max-width:$lg-breakpoint) {
              color: var(--color-white);
            }
          }
        }
      }
    }
  }
}

.about {
  padding: 9rem 9rem;
  position: relative;
  @media screen and (max-width: 1550px) {
    padding: 9rem 6rem 6rem 6rem;
  }
  @media screen and (max-width: 1366px) {
    padding: 9rem 4rem 6rem 4rem;
  }
  @media screen and (max-width: $xl-breakpoint) {
    padding: 5rem 3rem 2rem 3rem;
  }
  @media screen and (max-width:$lg-breakpoint) {
    padding: 5rem 2rem 2rem 2rem;
  }
  @media screen and (max-width:$sm-breakpoint) {
    padding: 3rem 1rem 2rem 1rem;
  }
  h3 {
    color: var(--color-blue);
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 5px;
    @media screen and (max-width: 1550px) {
      font-size: 1.7rem;
      margin-bottom: 1.5rem;
    }
    @media screen and (max-width:$sm-breakpoint) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  .text-left {
    max-width: 17rem;
    font-size: 1.2rem;
    color: var(--color-grey);
    @media screen and (max-width: 1550px) {
      font-size: 1.1rem;
      max-width: 15rem;
    }
    @media screen and (max-width: $xl-breakpoint) {
      font-size: 1rem;
    }
    @media screen and (max-width:$sm-breakpoint) {
      max-width: 100%;
    }
  }
  .right-content {
    padding-left: 10rem;
    @media screen and (max-width:$lg-breakpoint) {
      padding-left: 0rem;
      margin-top: 2rem;
    }
    @media screen and (max-width:$sm-breakpoint) {
      margin-top: 1rem;
    }
    h2 {
      color: var(--color-blue);
      font-weight: 600;
      font-style: italic;
      max-width: 40rem;
      font-size: 3rem;
      margin-bottom: 5rem;
      @media screen and (max-width: 1550px) {
        font-size: 2.5rem;
        max-width: 35rem;
        margin-bottom: 3rem;
      }
      @media screen and (max-width: 1366px) {
        font-size: 2.2rem;
        max-width: 30rem;
      }
      @media screen and (max-width: $xl-breakpoint) {
        font-size: 1.8rem;
        max-width: 25rem;
      }
      @media screen and (max-width:$lg-breakpoint){
        margin-bottom: 2rem;
      }
      @media screen and (max-width:$sm-breakpoint) {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }
    p {
      max-width: 55rem;
      font-size: 1.2rem;
      color: var(--color-grey);
      font-style: italic;
      @media screen and (max-width: 1550px) {
        font-size: 1.1rem;
      }
      @media screen and (max-width: 1366px) {
        max-width: 40rem;
      }
      @media screen and (max-width: $xl-breakpoint) {
        font-size: 1rem;
      }
    }
    .btn {
      padding-left: 0rem;
      margin-top: 4rem;
      color: var(--color-blue);
      font-weight: 900;
      letter-spacing: 3px;
      border: none;
      font-size: 1rem;
      &:focus {
        outline: none;
        box-shadow: none;
      }
      i {
        margin-left: 0.5rem;
      }
      @media screen and (max-width: 1550px) {
        margin-top: 2rem;
      }
      @media screen and (max-width: $xl-breakpoint) {
        font-size: 0.9rem;
      }
      @media screen and (max-width:$lg-breakpoint) {
        margin-top: 1rem;
      }
      @media screen and (max-width:$sm-breakpoint) {
        font-size: 0.7rem;
      }
    }
  }
}
.intro {
  padding: 4rem 9rem 9rem 9rem;
  @media screen and (max-width: 1550px) {
    padding: 4rem 6rem 6rem 6rem;
  }
  @media screen and (max-width: 1366px) {
    padding: 4rem 4rem 6rem 4rem;
  }
  @media screen and (max-width: $xl-breakpoint) {
    padding: 4rem 3rem 4rem 3rem;
  }
  @media screen and (max-width:$lg-breakpoint) {
    padding: 2rem 2rem 2rem 2rem;
  }
  @media screen and (max-width:$sm-breakpoint) {
    padding: 1rem;
  }
  .content {
    padding-left: 5rem;
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @media screen and (max-width:$xl-breakpoint) {
      padding-left: 3rem;
    }
    @media screen and (max-width:$lg-breakpoint) {
      justify-content: flex-start;
      align-items: center;
      padding-left: 0rem;
      padding-top: 3rem;
      height: 25rem;
    }
    @media screen and (max-width:$sm-breakpoint) {
      height: 17rem;
      padding-top: 1rem;
    }
    h4 {
      color: var(--color-blue);
      font-style: italic;
      font-weight: 500;
      letter-spacing: 3px;
      font-size: 1.9rem;
      margin-bottom: 1.5rem;
      @media screen and (max-width: 1550px) {
        font-size: 1.6rem;
      }
      @media screen and (max-width:$xl-breakpoint) {
        margin-bottom: 1rem;
      }
      @media screen and (max-width:$sm-breakpoint) {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
    }
    span {
      color: var(--color-blue);
      font-size: 1.2rem;
      @media screen and (max-width:$sm-breakpoint) {
        font-size: 1rem;
      }
    }
    .play {
      position: absolute;
      margin: auto auto;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      img {
        @media screen and (max-width: 1550px) {
          max-width: 8rem;
        }
        @media screen and (max-width:$xl-breakpoint) {
          max-width: 7rem;
        }
        @media screen and (max-width:$lg-breakpoint) {
          max-width: 5rem;
        }
        @media screen and (max-width:$sm-breakpoint) {
          max-width: 4rem;
        }
      }
    }
  }
}

.projects {
  padding: 4rem 6rem 9rem 9rem;
  @media screen and (max-width: 1550px) {
    padding: 4rem 3rem 6rem 6rem;
  }
  @media screen and (max-width: 1366px) {
    padding: 4rem 4rem 6rem 4rem;
  }
  @media screen and (max-width:$xl-breakpoint) {
    padding: 4rem 0rem 6rem 3rem;
  }
  @media screen and (max-width:$lg-breakpoint) {
    padding: 1rem 0rem 6rem 2rem;
  }
  @media screen and (max-width:$sm-breakpoint) {
    padding: 1rem 1rem 2rem 1rem;
  }
  h3 {
    color: var(--color-blue);
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 5px;
    @media screen and (max-width: 1550px) {
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }
    @media screen and (max-width:$sm-breakpoint) {
      font-size: 1.5rem;
    }
  }
  .text-left {
    max-width: 17rem;
    font-size: 1.2rem;
    color: var(--color-grey);
    @media screen and (max-width: 1550px) {
      font-size: 1.1rem;
    }
    @media screen and (max-width:$xl-breakpoint) {
      font-size: 1rem;
    }
    @media screen and (max-width:$sm-breakpoint) {
      max-width: 100%;
    }
  }
  .right-content {
    padding-left: 9rem;
    @media screen and (max-width:1550px) {
      padding-left: 7rem;
    }
    @media screen and (max-width:$xl-breakpoint) {
      padding-left: 5rem;
    }
    @media screen and (max-width:$lg-breakpoint) {
      padding-left: 0rem;
      margin-top: 2rem;
    }
    .box {
      margin-right: 3rem;
      @media screen and (max-width:$lg-breakpoint) {
        margin-right: 2rem;
      }
      @media screen and (max-width:$sm-breakpoint) {
        margin-bottom: 2rem;
        margin-right: 0rem;
      }
      &:hover{
        .img-wrapper{
          &::before{
            opacity: 1;
          }
        }
      }
      .img-wrapper{
        position: relative;
        &:before{
          content: "";
          background-color: #0b0c61a8;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          transition: 0.3s all;
          opacity: 0;
        }
        img{
          width: 100%;
        }
      }
      h5 {
        color: var(--color-blue);
        font-style: italic;
        font-size: 3rem;
        max-width: 20rem;
        margin-top: 1.4rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
        transition: 0.3s all;
        &:hover {
          color: var(--color-grey);
        }
        @media screen and (max-width: 1550px) {
          font-size: 2.5rem;
          margin-bottom: 2rem;
        }
        @media screen and (max-width: 1366px) {
          font-size: 2.3rem;
        }
        @media screen and (max-width:$xl-breakpoint) {
          font-size: 1.8rem;
        }
        @media screen and (max-width:$lg-breakpoint) {
          max-width: 15rem;
          font-size: 1.5rem;
        }
        @media screen and (max-width:$sm-breakpoint) {
          max-width: 100%;
          margin-bottom: 1.5rem;
        }
      }
      p {
        color: var(--color-grey);
        max-width: 23rem;
        font-size: 1.1rem;
        @media screen and (max-width:$xl-breakpoint) {
          font-size: 1rem;
        }
      }
      .btn {
        padding-left: 0rem;
        margin-top: 1.5rem;
        font-weight: 600;
        transition: 0.3s all;
        color: var(--color-blue);
        border: none;
        &:focus {
          outline: none;
          box-shadow: none;
        }
        &:hover {
          color: var(--color-grey);
        }
        i {
          margin-left: 0.5rem;
        }
        @media screen and (max-width: 1550px) {
          margin-top: 1rem;
        }
        @media screen and (max-width:$sm-breakpoint) {
          margin-top: 0rem;
        }
      }
    }
  }
}
.space {
  margin-bottom: -6rem;
  position: relative;
  z-index: 9;
  @media screen and (max-width: $md-breakpoint) {
    overflow: hidden;
    margin-bottom: -4rem !important;
  }
  .container {
    @media screen and (max-width: $lg-breakpoint) {
      padding: 0;
      max-width: 100%;

    }
  }

  @media screen and (max-width: 1550px) {
    padding: 0rem 11rem;
    margin-bottom: -3rem;
  }
  @media screen and (max-width: $xl-breakpoint) {
    padding: 0rem 3rem;
  }
  @media screen and (max-width: $lg-breakpoint) {
    margin-bottom: 0rem;
  }
  @media screen and (max-width:$sm-breakpoint) {
    padding: 0rem 2rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 85%;
    color: var(--color-blue);
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: inherit;
    right: 3rem;
  }
  .col-lg-4 {
    background-color: var(--color-blue);
    &:nth-child(2) {
      background-color: #6ab7ed;
    }
  }
  .box {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    height: 18rem;
    @media screen and (max-width: 1550px) {
      height: 16rem;
    }
    @media screen and (max-width: $lg-breakpoint) {
      width: 100%;
      height: 14rem;
    }
    @media screen and (max-width:$sm-breakpoint) {
      height: 5rem;
    }
    .title {
      color: var(--color-white);
      font-weight: 500;
      margin-top: 0;
      font-size: 2rem;
      text-align: center;
      @media screen and (max-width: $xl-breakpoint) {
        font-size: 1.7rem;
      }
    }
    a {
      margin-top: 0.8rem;
      font-weight: 300;
      color: var(--color-white);
      text-align: left;
    }
    img {
      object-fit: contain;
      max-width: 5rem;
    }
  }
  /* .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } */
  .col-lg-8 {
    background-color: #fbfbfb;
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
      @media screen and (max-width:$lg-breakpoint) {
        font-size: 1.5rem;
      }
    }
    .swiper-button-prev, .space .swiper-rtl .swiper-button-next{
      right: 2.5rem;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
      @media screen and (max-width:$lg-breakpoint) {
        font-size: 1.5rem;
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        font-size: 18px;
        padding: 2rem;
        @media screen and (max-width:$lg-breakpoint) {
          padding: 2rem 1rem;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          max-width: 4rem;
          opacity: 0.7;
        }
        .sss-item {
          height: 100%;
          display: flex;
          flex-direction: column;
          padding-top: 1rem;
          .question {
            .img-wrapper-first {
              position: absolute;
              top: 2rem;
              left: 1rem;
            }
            .text {
              span {
                margin-left: 1.5rem;
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--color-black);
                @media screen and (max-width: $sm-breakpoint) {
                  font-size: 1.2rem;
                }
              }
            }
            .img-wrapper-last {
              margin-left: 0.6rem;
              margin-bottom: -1.2rem;
            }
          }
          .text {
            margin-top: 1.2rem;
            width: 100%;
            @media screen and (max-width:$xl-breakpoint) {
              margin-top: 0.5rem;
              margin-bottom: 1.4rem;
            }
            p {
              display: -webkit-box;
              overflow: hidden;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              font-size: 1.1rem;
              font-weight: 500;
              color: var(--color-black);
              display: -webkit-box;
              overflow: hidden;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              @media screen and (max-width:1550px) {
                -webkit-line-clamp: 2;
              }
              @media screen and (max-width: $sm-breakpoint) {
                font-size: 1rem;
              }
            }
          }
          .btn {
            padding-left: 0rem;
            font-size: 0.8rem;
            color: var(--color-black);
            font-weight: 900;
            border: none;
            transition: 0.3s all;
            border: 1px solid var(--color-black);
            padding-left: 0.8rem;
            padding: 0.3rem 0.6rem 0.2rem;
            border-radius: 0.9rem;
            margin-top: 1rem;
            &:focus {
              outline: none;
              box-shadow: none;
            }
            &:hover {
              border-color: var(--color-white);
              font-weight: 900;
              color: var(--color-white);
            }
          }
        }
      }
    }
  }
}
.company {
  padding: 4rem 9rem 0rem 9rem;
  margin-bottom: -4rem;
  @media screen and (max-width: 1550px) {
    padding: 4rem 6rem 0rem 6rem;
  }
  @media screen and (max-width: 1366px) {
    padding: 0rem 4rem 0rem 4rem;
  }
  @media screen and (max-width:$xl-breakpoint) {
    padding: 0rem 3rem 0rem 3rem;
    margin-bottom: -5rem;
  }
  @media screen and (max-width:$lg-breakpoint) {
    padding: 0rem 2rem 0rem 2rem;
    margin-bottom: -7rem;
  }
  @media screen and (max-width:$sm-breakpoint) {
    padding: 0rem 1rem 0rem 1rem;
  }
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      overflow: hidden;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--color-blue);
      .col-lg-4 {
        background-color: var(--color-white);
      }
      .col-lg-8 {
        background-color: var(--color-blue);
      }
      .text {
        color: var(--color-white);
        padding: 2rem 3rem;
        @media screen and (max-width:$sm-breakpoint) {
          padding: 1.5rem 1rem;
        }
        p {
          margin-bottom: 0rem;
          font-size: 1rem;
          font-style: italic;
          @media screen and (max-width: 1550px) {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
          }
          @media screen and (max-width:$sm-breakpoint) {
            -webkit-line-clamp: 3;
          }
        }
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 6rem;
        @media screen and (max-width: 1550px) {
          max-width: 4rem;
        }
        @media screen and (max-width:$sm-breakpoint) {
          max-width: 2.5rem;
          margin-left: 0.7rem;
        }
      }
    }
  }
}

footer {
  overflow: hidden;
 
  
  .footer-top {
    background-color: #fbfbfb;
    padding-left: 6rem;
    padding-top: 6rem;
    @media screen and (max-width:1550px) {
      padding-left: 3rem;
    }
    @media screen and (max-width:$xl-breakpoint) {
      padding-top: 10rem;
      padding-left: 0rem;
    }
    @media screen and (max-width:$sm-breakpoint) {
      padding-top: 7rem;
    }
 

    img {
      margin-bottom: 3rem;
      @media screen and (max-width: $xl-breakpoint) {
        max-width: 20rem;
        padding-left: 2rem;
      }
      @media screen and (max-width:$lg-breakpoint) {
        padding-left: 1rem;
      }
      @media screen and(max-width:$sm-breakpoint) {
        max-width: 14rem;
        padding-left: 0rem;
      }
    }

    .text {
      p {
        color: var(--color-grey);
        font-size: 1rem;
        font-weight: 500;
        font-style: normal;
        max-width: 100%;
        max-width: 25rem;
      
        @media screen and (max-width: $sm-breakpoint) {
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
      .campany {
        margin-top: 3rem;
        img {
          margin-right: 1.5rem;
          @media screen and (max-width: $xl-breakpoint) {
            margin-right: 1.1rem;
          }
        }
      }
    }

    h5 {
      color: var(--color-blue);
      font-size: 1.8rem;
      font-weight: 600;
      font-style: italic;
      margin-bottom: 2rem;
      @media screen and (max-width: $xl-breakpoint) {
        font-size: 1.5rem;
      }
      @media screen and(max-width:$sm-breakpoint) {
        font-size: 1.3rem;
      }
    }

    p {
      color: var(--text-color);
      font-style: italic;
      font-weight: 500;
      font-size: 1rem;
      max-width: 18rem;
      @media screen and (max-width: $xl-breakpoint) {
        font-size: 1rem;
      }
    }
   
    .group-campany {
      padding-left: 6rem;
      width: 100%;
      padding-right: 2rem;
      @media screen and (max-width: 1550px) {
        padding-left: 3rem;
      }
      @media screen and (max-width:$xl-breakpoint) {
        padding-left: 5rem;
        padding-bottom: 4rem;
      }
      @media screen and (max-width: $lg-breakpoint) {
        padding-left: 2rem;
        margin-top: 0rem;
      }
      @media screen and (max-width:$sm-breakpoint) {
        padding-left: 1rem;
        padding-bottom: 2rem;
      }
    }
    .we-contact{
      @media screen and (max-width:$lg-breakpoint) {
        margin-left: 2rem;
        margin-bottom: 2rem;
      }
      @media screen and (max-width:$sm-breakpoint) {
        margin-left: 1rem;
      }
    }
    .follow-us {
     
      .social-media {
        margin-top: 1.2rem;

        ul {
          li {
            a {
              color: var(--color-blue);
              font-size: 2rem;
              transition: 0.3s all;
              &:hover {
                color: var(--color-grey);
              }

              @media screen and(max-width:1440px) {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
    
    .form-area {
      padding: 0rem 3rem 0rem 0rem;
      margin-top: 2rem;

      @media screen and(max-width:$xl-breakpoint) {
        padding: 0rem;
      }

      .form-control {
        border: 3px solid var(--color-grey);
        border-radius: 0rem;
        background-color: transparent;
        height: 2rem;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      .btn {
        background-color: var(--color-blue);
        color: var(--color-white);
        margin-left: 0.5rem;
        padding: 0.2rem 1.4rem 0.2rem;
        border-radius: 0rem;
        transition: 0.3s all;
        &:hover {
          background-color: var(--color-grey);
          color: var(--color-white);
        }

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }

    h6 {
      color: var(--color-blue);
      font-style: italic;
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .demsa-career-area {
      @media screen and(max-width:$lg-breakpoint) {
        margin-bottom: 2rem;
      }
    }
    .contact-area {
      ul {
        li {
          margin-bottom: 0.8rem;
          color: var(--color-black);

          i {
            color: var(--color-blue);
            margin-right: 0.4rem;
          }

          p {
            margin-bottom: 0rem;
            font-size: 1.1rem;
            font-style: italic;
            max-width: 20rem;
            color: var(--color-grey);
            font-weight: 300;
            @media screen and (max-width: $xl-breakpoint) {
              font-size: 1rem;
            }
          }

          a {
            color: var(--color-black);
            font-size: 1.1rem;
            font-style: italic;
            transition: 0.3s all;
            font-weight: 300;
            &:hover {
              color: var(--color-grey);
            }
            @media screen and (max-width: $xl-breakpoint) {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .col-xl-5{
      padding-right: 0rem;
      padding-left: 0rem;
    }
    

    .map{
      position: relative;
      height: 40rem;
      width: 100%;
      @media screen and (max-width:1550px) {
        height: 35rem;
      }
      @media screen and (max-width:$sm-breakpoint) {
        height: 25rem;
      }

      iframe {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }
  }

  .copyright {
    background-color: var(--color-blue);
    padding: 1rem 10rem 1rem 10rem;
    color: var(--color-white);

    @media screen and(max-width:1440px) {
      padding: 1rem 5rem 1rem 5rem;
    }
    @media screen and(max-width:$xl-breakpoint) {
      padding: 1rem 2rem 1rem 2rem;
    }
    @media screen and(max-width:$lg-breakpoint) {
      padding: 1rem;
    }

    .col-lg-6 {
      @media screen and(max-width:$lg-breakpoint) {
        justify-content: center !important;
        text-align: center;
      }
    }
    span {
      color: var(--color-white);
      font-size: 1rem;
      font-weight: 400;
      display: block;

      @media screen and(max-width:$lg-breakpoint) {
        margin-bottom: 0.5rem;
      }
      @media screen and (max-width: $sm-breakpoint) {
        font-size: 0.9rem !important;
      }
    }

    img {
      max-width: 2.8rem;

      @media screen and(max-width:1440px) {
        max-width: 2.5rem;
      }
      @media screen and(max-width:$sm-breakpoint) {
        max-width: 2rem;
      }
    }
  }
}
